.dashboard h1 {
    background-image: linear-gradient(to right, blueviolet, blue, transparent);
    color:whitesmoke;
}

.city-header {
    background-image: linear-gradient(115deg, blue, blueviolet, transparent);
    color:whitesmoke;
}

.city-form input {
    width:100%;
    margin-bottom: 5px;
    height: 45px;
    font-size: 1.7rem;
}

/* #city-name {
    width:100%;
    margin-bottom: 5px;
    height: 45px;
    font-size: 1.7rem;
} */

.search-btn {
    background-image: radial-gradient(blue 30%, transparent);
    color:whitesmoke;
    font-size: 1.2rem;
}

hr {
    border-top: 3px solid rgba(0,0,0,.5)
}

.city-search {
    color:white;
    background-image:linear-gradient(45deg, blueviolet, blue);
    border: 2px solid skyblue;
}

.current-weather {
    background-image: linear-gradient(45deg, white, blueviolet);
    margin-left: -4px;
    border: 2px solid skyblue;
    border-radius:3px;
}

.current-city {
    margin-left:2px;
    margin-bottom: -10px;
    margin-top: 0px;
    padding: 6px;
    font-family:monospace;
    color:white;
}
.weather-stats {
    list-style: none;
    margin-left:-29px;
    line-height: 2;
    color: royalblue;
    font-weight:bold;
    font-family:monospace;
    font-size:18px;
}

.green {
    background-color: green;
    border: 2px solid green;
    border-radius:5px;
    width:fit-content;
    padding: 0px 2px;
}

.yellow {
    background-color: yellow;
    border: 2px solid yellow;
    border-radius:5px;
    width:fit-content;
    padding: 0px 2px;
}

.orange {
    background-color: orange;
    border: 2px solid orange;
    border-radius:5px;
    width:fit-content;
    padding: 0px 2px;
}

.red {
    background-color: red;
    border: 2px solid red;
    border-radius:5px;
    width:fit-content;
    padding: 0px 2px;
}

.dark-red {
    background-color: darkred;
    border: 2px solid darkred;
    border-radius:5px;
    width:fit-content;
    padding: 0px 2px;
}

.five-cards {
    margin-top: -25px;
}

.five-header {
    background-image: linear-gradient(to right, blue, blueviolet);
    margin-left: 10px;
    margin-top: 20px;
    border: 2px solid deepskyblue;
    border-radius: 5px;
    max-width:97%;
    color:white;
    font-family:monospace;
}

.icon-img {
    height: 70px;
}

.five-day-cards h4 {
    color:white;
    margin-top:5px;
    font-family:monospace;
    font-size:27px;
}

.icon-five {
    height: 50px;
}

.five-day-cards {
    margin: 26px;
    padding-left:26px;
    max-width:93.2%;
    background-image:linear-gradient(15deg, white, blue);
    color:navy;
    border: 2px solid skyblue;
    border-radius:5px;
    margin-bottom:0px
}

.w-stats {
    color:cyan;
    font-family:monospace;
    font-size: 18px;

}

.w-stats {
    list-style:none;
    margin-left:auto;
    padding:4px;
}